argon2_cffi
certifi==2024.2.2
click==8.0.1
cloudinary==1.38.0
Flask==2.0.1
Flask-SQLAlchemy==2.5.1
greenlet==3.0.3
itsdangerous==2.0.1
Jinja2==3.0.1
MarkupSafe==2.0.1
psycopg2-binary==2.9.3
pytest
six==1.16.0
SQLAlchemy==1.4.18
urllib3==2.2.0
Werkzeug==2.0.1