/* Color palette: 
Burnt Orange: #CC5500 rgb(204, 85, 0)
Light Orange: #FFD580 rgb(255, 213, 128) 
Dark Blue: #000066 
Pink: #FFC0CB
Thistle (purple): #D8BFD8 
Ruby Red: #C21E56 */

body {
    font-family: 'Arial', sans-serif;
    color: white;
    background-color: #DFC5FE;
    font-size: 50px;
    justify-content: center;
    text-align: center;
}

.cursive {
    font-family: "Brush Script MT", serif;
    font-size: 40px;
    text-align: center;
}

#tell-me-button {
    color: white;
    background-color: #DFC5FE;
    font-size: 40px;
    justify-content: center;
}

#tell-me-button:hover {
    color: #DFC5FE;
    background-color: #C21E56;
    color: #DFC5FE;
    font-size: 40px;
    justify-content: center;
}

#tell-me-button:active {
    border-color: #C21E56;
    background-color: #DFC5FE;
    color: #C21E56;
    font-size: 40px;
    justify-content: center;
}

#eatery-result-container {
    border-color: black;
}

#submit-form {
    align-items: center;
}