/* CSS styles */

/* accessibility skip navigation for screen readers */
#skip-nav {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* all */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

main, select, button {
    font-size: 50px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    border-radius: 10px;
}

main { /* make child element stack vertically */
    display: flex;
    flex-direction: column;
    align-items: center; /* center within container */
    text-align: center;
    margin: 0;
    padding: 0;
    min-width: 90%;
}

/* all child elements of main (including select, button, divs) */
main > * {
    box-sizing: border-box; /* ensures consistent sizing, width & height, padding & border in each element */
}

/* body main container with all in it */
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 100%; /* prevents content overflow */
}

.form-contents-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-bottom: 15px;
}

/* div w/ result of button click */
#eatery-result-container {
    margin-top: 20px;
    width: 100%;
    height: auto; /* flexible height for the res */ 
}

/* for the select & button elements */
select, button {
    color: black;
    background-color: white;
    border: 2px solid black;
}

button {
    transition: color 0.4s, background-color 0.4s;
}

button:hover {
    color: white;
    background-color: black;
}

button:active {
    color: black;
    background-color: white;
}

h1 {
    font-size: 90px; /* non-header font's font size is 50 (line 24) */
    margin: 0px 0px 30px 0px;
    padding: 0px;
}

/* responsive design for various sizes of screens */

/* computers */
@media screen and (max-width: 900px) {
    main {
        transform: scale(0.9);
        transform-origin: center;
    }
}

/* computers, tablets */
@media screen and (max-width: 800px) {
    main {
        transform: scale(0.8);
        transform-origin: center;
    }
}

/* tablets, mobile devices */
@media screen and (max-width: 690px) {
    main {
        transform: scale(0.7);
    }
}

/* small screens, mobile devices */
@media screen and (max-width: 500px) {
    main {
        transform: scale(0.5);
    }
}

/* very small screens, mobile devices */
@media screen and (max-width: 400px) {
    main {
        transform: scale(0.4);
    }
}