/* CSS styles */

/* accessibility skip navigation for screen readers */
#skip-nav {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* all */
html, body {
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main, select, button {
    font-size: 40px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    border-radius: 10px;
}

main { /* make child element stack vertically */
    display: flex;
    flex-direction: column;
    align-items: center; /* center within container */
    text-align: center;
}

/* all child elements of main (including select, button, divs) */
main > * {
    box-sizing: border-box; /* ensures consistent sizing, width & height, padding & border in each element */
}

/* body main container with all in it */
.main-container {
    display: flex;
    flex-direction: column;
}

.main-container div {
    display: block;
    width: 100%;
}

/* div w/ result of button click */
#eatery-result-container {
    display: block;
    width: 100%;
    margin-top: 20px;
    /* text-decoration: underline;
    text-decoration-thickness: 5px solid black; */
}

/* for the select & button elements */
select, button {
    color: black;
    background-color: white;
    border: 2px solid black;
}

button {
    margin: 20px 0px 20px 40px; /* top right bottom left */
    transition: color 0.4s, background-color 0.4s;
}

button:hover {
    color: white;
    background-color: black;
}

button:active {
    color: black;
    background-color: white;
}

h1 {
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
}

/* responsive to diff. screen sizes, not full screen, almost email */
@media screen and (max-width: 800px) {
    h1 {
        font-size: 60px;
        margin-bottom: 15px;
    }

    select, button, div {
        font-size: 40px;
    }

    /* result container */
    div {
        height: 50px;
        width: 70%;
    }
}

/* responsive to diff. screen sizes, small, mobile devices */
@media screen and (max-width: 690px) {
    h1 {
        font-size: 50px;
    }

    select, button, div {
        font-size: 30px;
    }

    /* result container */
    div {
        height: 40px;
        width: 80%;
    }
}

/* responsive to diff. screen sizes, small, mobile devices */
@media screen and (max-width: 400px) {
    h1 {
        font-size: 35px;
    }

    select, button, div {
        font-size: 15px;
    }

    /* result container */
    div {
        height: 25px;
        width: 90%;
    }

    .custom-form select option {
        /* words break wrapping onto next line */
        word-break: break-word;
    }
}