<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tell Me Where To Eat</title>
        <link rel="icon" type="image/pgn" sizes="96x96" href="/static/images/favicon/icons8-food-bar-96.png">
        <link href="static/css/eateries.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <header>
            <h1>Welcome to <strong>Tell Me Where To Eat!</strong></h1>
        </header>

        <main>
            <form id="form" aria-labelledby="form-heading">
                <label for="choice">Want a certain type of food today?</label>
                    <select name="choice" id="eatery-preference" aria-label="Select a type of food">
                        <option value="">Select</option>
                        <option class="dropdown-content" value="american">American</option>
                        <option class="dropdown-content" value="asian">Asian</option>
                        <option class="dropdown-content" value="breakfast">Breakfast</option>
                        <option class="dropdown-content" value="desert">Desert</option>
                        <option class="dropdown-content" value="fast_food">Fast Food</option>
                        <option class="dropdown-content" value="italian">Italian</option>
                        <option class="dropdown-content" value="mexican">Mexican</option> 
                    </select>
                    
                    <p></p>

                    <button type="submit" id="button">Tell Me</button>
            </form>
        </main>

            <p></p>

            <div id="eatery-result-container" aria-live="polite" aria-atomic="true"></div>
        
        <script src="/static/js/button.js"></script>
    </body>
</html>