<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- Title -->
        <title>Let's Eat!</title>
        
        <!-- Favicon -->
        <link rel="icon" type="image/png" sizes="96x96" href="/static/images/favicon/favicon-houdini-taco.png">
        
        <!-- Google Font APIs -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

        <!-- CSS Styles -->
        <link href="/static/css/styles.css" rel="stylesheet" type="text/css">
    </head>
    
    <body>
        <header>
            <div id="skip-nav">
                <a href="#main-content">Skip to main content</a>
            </div>
        </header>

        <main>
            <h1>Welcome to Tell Me Where To Eat!</h1>

            <!-- applying custom css to form & special div for dropdown menu as opposed to default settings in browsers if i can help it -->
            <form aria-labelledby="form-heading" class="custom-form">

                <div class="custom-select">
                    
                    <select name="choice" aria-label="Select a type of food">

                        <option value="">I want a certain type of food</option>
                        
                        <option class="dropdown-content" value="american">American</option>
                        
                        <option class="dropdown-content" value="asian">Asian</option>
                        
                        <option class="dropdown-content" value="breakfast">Breakfast</option>
                        
                        <option class="dropdown-content" value="desert">Desert</option>
                        
                        <option class="dropdown-content" value="fast_food">Fast Food</option>
                        
                        <option class="dropdown-content" value="italian">Italian</option>
                        
                        <option class="dropdown-content" value="mexican">Mexican</option> 
                    </select>
                </div>
                        
                <p></p>

                <button type="submit">Tell Me</button>
            </form>

            <p></p>

            <div aria-live="polite" aria-atomic="true"></div>
        </main>

        <script src="/static/js/button.js"></script>
    </body>
</html>